:root,
.app_purple_theme {
    --bg-color: #982b98;
    --inverted-bg-color: #f0e9f0;
    --primary-color: #fbf4fb;
    --secondary-color: #452277;
    --inverted-primary-color: #982b98;
    --inverted-secondary-color: #452277;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(255 47 227 / 79.2%);
    --code-bg: #fff;
}
